.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: white;
  align-items: center;

  &__background {
    position: absolute;
    bottom: 5px;
    left: 10px;
    height: 200px;
    opacity: 0.1;
    z-index: -1;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.5));
  }
}
